---
layout: default
title: Game
---
<div class="container">
  <h1 class="text-center">Pitch Scorer</h1>
  <div class="row">
    <div class="col-md-12">
      <p>Winning bid:</p>
      <div class="btn-group btn-group-justified bidGroup">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">9</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">10</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">11</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">12</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">13</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">S</button>          
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">DS</button>          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <p>Winner and partner:</p>
      <div class="playerGroup">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button id="p1Button" type="button" class="btn btn-default">Player 1</button>          
          </div>
          <div class="btn-group">
            <button id="p2Button" type="button" class="btn btn-default">Player 2</button>          
          </div>
          <div class="btn-group">
            <button id="p3Button" type="button" class="btn btn-default">Player 3</button>          
          </div>
        </div>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button id="p4Button" type="button" class="btn btn-default">Player 4</button>          
          </div>
          <div class="btn-group">
            <button id="p5Button" type="button" class="btn btn-default">Player 5</button>          
          </div>
          <div class="btn-group">
            <button id="aloneButton" type="button" class="btn btn-default">Alone</button>          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Points scored:</p>
      <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg btn-number" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="quant[1]" class="form-control input-lg input-number" value="7" min="0" max="13">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default btn-lg btn-block">Undo Last Round <span class="glyphicon glyphicon-refresh"></span></button>
      <button class="btn btn-primary btn-lg btn-block">Score Round <span class="glyphicon glyphicon-check"></span></button>      
    </div>
  </div>  
  <hr>
  <h3 class="text-center">Scores</h3>
  <div class="row">
    <div class="col-md-12">      
      {% include scoreTable.html %}
    </div>
  </div>
</div>

{% include gameModal.html %}
{% include playersModal.html %}