<div class="modal fade" id="gameModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button id="newGameButton" class="btn btn-lg btn-block btn-default" data-dismiss="modal">New Game</button>
        <button id="loadGameButton" class="btn btn-lg btn-block btn-default" data-dismiss="modal">Load Game</button>
        <!-- <button id="clearStorage" class="btn btn-lg btn-block btn-danger">Clear Storage</button> -->
      </div>
    </div>
  </div>
</div>