<div class="modal fade" id="playersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="players-input">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Player 1</span>
              <input  name="player1"class="form-control input-lg" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Player 2</span>
              <input name="player2" class="form-control input-lg" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Player 3</span>
              <input  name="player3"class="form-control input-lg" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Player 4</span>
              <input  name="player4"class="form-control input-lg" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Player 5</span>
              <input  name="player5"class="form-control input-lg" type="text"/>
            </div>
          </div>
          <button id="startGameButton" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Start Game</button>
        </div>
      </div>
    </div>
  </div>
</div>