<table class="table table-bordered table-condensed score-table">
  <thead>
    <tr>
      <th><div>Corbin</div></th>
      <th><div>Grandma</div></th>
      <th><div>Marissa</div></th>
      <th><div>Denise</div></th>
      <th><div>Scott</div></th>
      <th><div>Bid</div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <td>14</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>21</td>
      <td>12</td>
    </tr>
    <tr>
      <td>20</td>
      <td>9</td>
      <td>10</td>
      <td>17</td>
      <td>28</td>
      <td>6</td>
    </tr>
    <tr>
      <td>33</td>
      <td>22</td>
      <td>10</td>
      <td>17</td>
      <td>28</td>
      <td>13</td>
    </tr>
    <tr>
      <td>100</td>
      <td>122</td>
      <td>125</td>
      <td>117</td>
      <td>128</td>
      <td>DS</td>
    </tr>
  </tbody>
</table>