<table class="table table-bordered table-condensed score-table">
  <thead>
    <tr>
      <th>Corbin</th>
      <th>Grandma</th>
      <th>Marissa</th>
      <th>Denise</th>
      <th>Scott</th>
      <th>Bid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <td>14</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>21</td>
      <td>12</td>
    </tr>
    <tr>
      <td>20</td>
      <td>9</td>
      <td>10</td>
      <td>17</td>
      <td>28</td>
      <td>6</td>
    </tr>
    <tr>
      <td>33</td>
      <td>22</td>
      <td>10</td>
      <td>17</td>
      <td>28</td>
      <td>13</td>
    </tr>
  </tbody>
</table>