<div class="modal fade" id="winModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="winMessage" class="lead text-center"></p>
        <button id="playAgainButton" class="btn btn-lg btn-block btn-primary" data-dismiss="modal">Play Again</button>
        <button class="btn btn-lg btn-block btn-default newGameButton" data-dismiss="modal">New Game</button>
      </div>
    </div>
  </div>
</div>