.score-table {
  font-size: 80%;
  color: #aaa;
}

.score-table tr:last-child {
  color: #fff;
}

.row {
  margin-bottom: 20px;
}

.table-button {
  background-color: #464545;
}

.table-button:active {
  background-color: #1a1a1a
}