.row {
  margin-bottom: 20px;
}

/* Score table */
.scoreTable,
.scoreTable th {
  font-size: 90%;
  color: #aaa;
  text-align: center;
}

.scoreTable .truncate {
  max-width: 20px;
  width: 16%;
  /*uncomment for columns to fit to content - large content forces horizontal scrolling*/
  /*max-width: 16%;*/
}

.scoreTable .truncate:last-child {
  width: 30px;
}

.scoreTable .truncate span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.scoreTable tr:last-child,
.scoreTable th {
  color: #fff;
}

.scoreTable > tbody {
  font-size: 150%;
}

/* Buttons */
.btn-group .btn-lg {
  padding: 18px 6px;
}

.playerGroup button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playerGroup .btn-group-justified:first-child .btn:first-child {
  border-bottom-left-radius: 0px;
}

.playerGroup .btn-group-justified:first-child .btn:last-child {
  border-bottom-right-radius: 0px;
}

.playerGroup .btn-group-justified:last-child .btn:first-child {
  border-top-left-radius: 0px;
}

.playerGroup .btn-group-justified:last-child .btn:last-child {
  border-top-right-radius: 0px;
}

/* Validation */
.validate {
  /*color: red;*/
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: white;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

/* Modals */
#gameModal {
  top: 140px;
}

#playersModal {
  top: 15px;
}